.git
.gitattributes
.gitignore
.env
.env.*
node_modules
.next
storage
tmp-shots
*.md
Dockerfile
docker-compose.yml
data/favicon_io.zip
data/*.docx
data/infradev.md
data/letterhead.png
data/letterhead_a4.png
data/infradev\ logo\ backup.png
.next-test
